.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#flappyGame{
  width: 100%;
  justify-content: center;
  display: flex;
}
#gameBox{
  width: 500px;
  height: 500px;
  background-image: url(https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png);
overflow: hidden;
}
#bird{
  position: absolute;
  background-image: url(../public/flappy.png);
  border-radius: 50%;
  width: 60px;
  height: 45px;
}
#audio{
  display: none;
}
#playMusic{
margin-left: 72%;
margin-top: 35%;  
}
.dark {
  background-color: #333;
  color: #fff;
}
#theme{
  margin-left: 90%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:none;
  background-repeat: no-repeat;
}
.light #theme{
  background-image: url(../public/lightMood.png);

}
.dark #theme{
  background-image: url(../public/darkMode.png);
}
.light {
  background-color: #fff;
  color: #333;
}
.white-content {
  background: #e4e4e4;
}
#score{
  position: absolute;
  font-size: 24px;
  color: greenyellow;
}
.pipe{
  position: relative;
  background-color: green;
}
.pipe.down{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/pipeDown.png);
}
.pipe.top{
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/pipeUp.png);
}
#playMusic{
  background: none;
  border: none;
}
.Messages{
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.Game{
  padding: 10px;
  width: 50%;
margin-left: 35%;
margin-right: 25%;
}
.board-container {
  width: 500px;
  height: 500px;
  background-color: rgb(252, 252, 252);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.square:active {
  background-color: lightgray;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
